*{
    font-family: 'Orbitron', sans-serif;
}

body{
    background: black;
}

h1{
    font-size: 3em;
    color: white;
    text-align: center;
}

#reloj{
    font-family: 'Orbitron', sans-serif;
    font-size: 60px;
    text-shadow: 0px 0px 1px #333;
    color: #fff;
}

.reloj-contenedor{
    background-color: rgb(12, 119, 206);
    padding: 25px;
    max-width: 350px;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 10%;
}

#fecha{
    letter-spacing: 10px;
    font-size: 15px;
}

.animar{
    box-shadow: 2px 2px 7px white;
}